<!DOCTYPE html>
<html lang="en" onkeypress="jump()">
<head>
    <meta charset="UTF-8">
    <title>Jump Game</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <br><br><br><br>
    <center><h1>Fly boing</h1></center>
    <br><br>
    <div class="game">
        <div id="character">✈</div>
        <div id="block">🌪</div>
    </div>
    <br><br>
    <p>Score: <span id="scoreSpan"></span></p>

</body>
<script src="script.js"></script>
</html>