<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Jump game</title>
</head>
    <body>
        <center>
            <br><br><br>
            <h1 class="font">Fly Boing info</h1>
            <br>
            <p class="font text">Fly Boing is a modified version of Google Chrome's no internet dinosaur jump game. To make the rocket fly, either click anywhere on the page or press the space bar on the keyboard. At the bottom of the game section you will see your score(how many times you jumped).</p>
            <br>
            <button class="button"><a href="/play" class="font text">Play game</a></button>
        </center>
    </body>
<script src="script.js"></script>
</html>